.vscode/
.env
politico/authentication/__pycache__/
politico/authentication/migrations/__pycache__/
politico/offices/__pycache__/
politico/votes/__pycache__/
politico/parties/__pycache__/
politico/__pycache__/
__pycache__/
*.pyc
.DS_Store
.coverage
htmlcov